<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <header>
    <% include ./header %>
  </header>

  <h1>Vinyl</h1>

  <h2>Sing up for Vinyl</h2>

  <form>
    <div>
      <label> name </label>
      <input type="text" name="username"> </input>
    </div>
    <div>
      <label> email </label>
      <input type="text" name="email"> </input>
    </div>
    <div>
      <label> password </label>
      <input type="password" name="password"> </input>
    </div>
  </form>

</body>
</html>
