<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>

<body>
  <header>
    <% include ./header %>
  </header>

  <h1>Vinyl</h1>

  <h2>Weclome!</h2>

  <a class="button" href="/auth/login"> Sign In </button>
  <a class="button" href="/auth/signup"> Sign Up </button>

</body>
</html>
