body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  font-family: sans-serif;
}

nav {
  background-color: black;
  color: white;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
}

nav > div > a {
  color: #ccf;
  padding-right: 6px;
}

.master {
  padding: 5px 15px;
  text-align: center;
}

.headerImage{
  width: 100%;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainColumn {
  margin: 4px 20px;
}

.button {
  border: solid 2px #777;
  border-radius: 6px;
  text-decoration: none;
  padding: 3px 6px;
  margin: 0px 5px;
  color: #777;
}

.button:hover {
  background-color: #dcd;
}